/* ------------------------------ Variables ------------------------------ */
$primary: #846EFF;
$background: #222222;
$grey: #2C2C2C;
$white: #FFFFFF;

// ---------- Fonts ----------
$main_font: '-apple-system',
'BlinkMacSystemFont',
'Segoe UI',
'Roboto',
'Helvetica',
'Arial',
sans-serif;

// ---------- Fluid fonts ----------
$paragraph: 12px;

// ---------- Basiscs ----------
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
}

body {
    background: $grey;
    color: $white;
    font-family: $main_font;
    font-size: $paragraph;
    line-height: 1.3;
    margin: 2rem;
    user-select: none;
    overflow-x: hidden;
}